:root{
    --preto: #141414;
    --secondColor: #c519c2;
    --textColor: #fff;
    --textColorSecond: #aaa;
    --btmColorSecond: #c519c257;
}

*{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    color: var(--textColor);
    height: 100vh;
}

.container{
    display: flex;
    padding: 1rem 2rem 0.5rem 2rem;
}

/*Menu/cabeçalho*/
.menu .container{
    justify-content: space-between;
    align-items: center;
}

.container .logo{
    height: 50px;
    width: 150px;
}

.container .menu_group{
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-items: center;
}

.container .menu_group .menu_item{
    font-size: 1.4rem;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.container .menu_group .menu_item:hover{
    color: var(--textColorSecond);
    background-color: var(--btmColorSecond);
    border-radius: 5px;
}

/*Conteúdo pricipal*/
.move_first{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)100%),  url("../img//image/capa-house.jpg");
   
    height: 50vh;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.move_first .container{
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.move_first .container .title_move{
    margin-top: 260px;
    font-family: 'DM Serif Text', serif;
    font-size: 2.5rem;
    font-weight: 3.5rem;
}

.move_first .container .description{
    font-size: 1.6rem;
    font-weight: 2.6rem;
    max-width: 470px;
    margin-top: 10px;
    margin-bottom: 10%;
}

.move_first .container .buttons .btm{
    background-color: rgba(0,0,0,.3);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-size: 1.4rem;
    padding: 1.5rem;
    margin-right: 1.2rem;
    margin-bottom: 20px;
    transition: .2s;
}

.move_first .container .buttons .btm:hover{
    background-color:var(--btmColorSecond);
    color:  var(--textColorSecond);
}

.btm i {
    margin-right: 5px;
}

/*Carrosel*/

.box-move{
    height: 100%;
    width: 100%;
    display: block;
}

/*Responsivo*/

@media screen and (max-width: 700px){
    .menu .container{
        display: flex;
        flex-direction: column;
    }
    
    .move_first .container .buttons .btm{
        margin-top: 5px;
        width: 250px;
    }


}